version: "3.9"
services:
  postgres:
    container_name: postgres
    image: postgres:13.3
    environment:
      POSTGRES_DB: "tg-bot"
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "admin"
    volumes:
      - .:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
  redis:
    image: redis
    container_name: redis
    restart: always
    environment:
      - REDIS_PASSWORD=test
    ports:
      - "6379:6379"
